@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
  border-radius: 8.889px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding: 8px 0px 9px 31px;
  /* justify-content: flex-end; */
  align-items: flex-end;
  gap: 47.778px;
}

/*From Section Start*/
.form-signup {
  @apply w-[390px] md:w-[410px] lg:w-[425px] h-[450px] shadow-[0px_5px_8px_3px_#aaaa] z-10 relative mt-[5%] rounded-[5px];
  background: white;
}
/*1st title and sub-title start*/
.first_title {
  @apply text-[32px] pt-2.5 pb-0 px-2.5;
}
#sub_title {
  @apply text-[#606770] ml-2.5;
}
hr {
  @apply opacity-[20%] mt-2.5;
}
/*1st title and sub-title end*/
/*Input section start*/
#all {
  @apply w-[160px] md:w-[180px] h-[35px] border text-[15px] ml-3 mt-2.5 pl-2.5 rounded-[5px] border-solid border-[#aaaa];
  background: #e6e6e6;
}
#all1 {
  @apply w-[350px] md:w-[390px] h-[35px] border text-[15px] ml-3 mt-2.5 pl-2.5 rounded-[5px] border-solid border-[#aaaa];
  background: #e6e6e6;
}
#mobile-input {
  @apply w-[390px] h-[35px] text-[15px];
}
/*Input section end*/
/*Date of birth section start*/
.sub_title_2 {
  @apply text-xs mt-2.5;
}
select {
  @apply w-[125px] h-[35px] text-[15px] border ml-2.5 mt-2.5 rounded-[5px] border-solid border-[#aaaa];
  background: none;
}
/*Date of birth section end*/
/*last section start*/
.sub_title_4 {
  @apply text-[10px] text-[#606770] ml-2.5;
}
.sub_title_4 a {
  @apply no-underline text-[blue];
}
.submit {
  @apply w-[200px] h-10 text-[white] text-xl font-[bold] ml-[25%] mt-5 rounded-[5px] border-[none] hover:opacity-[60%];
  background: #0ebd02;
}
/*last section end*/
/*From Section end/*/
