@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
  border-radius: 8.889px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding: 8px 0px 9px 31px;
  /* justify-content: flex-end; */
  align-items: flex-end;
  gap: 47.778px;
}
